# Data Science Tools and Ecosystem

In this Notebook, Data Science Tools and Ecosystem are summerized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R.

Ojectives:
* Create a markdown cell with a table of Data Science Tools
* Create a markdown cell to list data science libraries
* Create a markdown cell for an introduction

Some of the commonly used libraries used by Data scientists include:
1. NumPy
2. Matplotib
3. Scikit-learn

| Data Science Tools |
|--------------------|
|Jupyter |
|Rstudio |
|Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# this is a simple arithmetc expression to multiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by dividing by 60
(200/60)

3.3333333333333335

## Author
Noluthando